/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
body{
  font-family: 'Roboto', sans-serif;
}
.content-header, .content-footer{background: #2d3136;color: #d7d7d7;}
.content-header .logo{width: 200px;}
.content-header .icon{
  height: 20vmin;
  pointer-events: none;
}


.content-form input, .content-form textarea{
  background-color: #2e3237;
  border: 1px solid #6c757d;
  color: inherit;
  font-size: 14pt;
}
.content-form input:focus, .content-form textarea:focus{
  border: 1px solid red;
  background-color: #2f3136;
  box-shadow: none;
  color: #d7d7d7;
}
.content{background-color: #f6f6f7;min-height: 100%;}

.message-item .card-header{background: #2d3136;}
.message-item:nth-child(even) .card-header{background: green;}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
